
/*========================= HEADER STYLE =====================*/
.singIn {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    padding: 5px;
    background: linear-gradient(to right, #6d0081, #f2adff);
}

.signIn_blocks{
    margin-right: 10px;
    padding: 0 5px;
}

.signIn_text{
    font-size: 18px;
    width: 130px;
}

.signIn_lable {
    text-align: right;
    font-weight: bold;
    text-shadow: 0 1px 3px #b1b1b1;
}

.signIn_btn {
    font-size: 18px;
    color: #2f79c4;
    width: 80px;
}

.singIn > a {
    color: ghostwhite;
    text-shadow: 0 1px 3px black;
}
    .singIn > a:hover {
        color: aqua;
        text-shadow: 0 1px 3px black;
    }

.title {
    display: inline-flex;
    font-family: "Miamanueva";
    text-decoration: none;
    height: 100px;
    padding: 5px;
}

    .title > .icon {
        width: 100px;
        height: 100px;
    }

    .title > .site {
        font-size: 50px;
        margin: 5px;
        align-content: center;
        letter-spacing: 10px;
        text-shadow: 1px 1px 5px #3a3eb1;
        color: #2f79c4;
    }

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    height: 40px;
}

    .menu > a {
        font-family: "Sober";
        font-size: 27px;
        color: #535353;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 2px #b1b1b1;
        transition: 0.3s;
    }

        .menu > a:hover {
            transform: translate(0,-3px);
            text-decoration: underline;
            color: #6d0081;
            text-shadow: 1px 1px 2px #2f79c4;
            cursor: pointer;
        }

.chapter {
    min-width: 100%;
    background: linear-gradient(to right, #6d0081, #f2adff);
    margin: 2px auto;
    padding: 8px;
}

    .chapter > h3 {
        color: #d4d4d4;
        letter-spacing: 10px;
        font-weight: normal;
        font-size: 25px;
    }

/*========================= HEADER STYLE =====================*/


/*========================= FOOTER STYLE =====================*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.footer_text{
    padding-left: 20px;
}

/*========================= FOOTER STYLE =====================*/
