@page
@model ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<div class="body">
    <span class="insade-body-text">
        <h3>Фамилия Имя Отчество</h3>
        <p class="txt">тел. +7 (000) 000-00-00</p>
        <p class="txt">e-mail: <a href="index.html">psiho&#64;gmail.com</a></p>
    </span>
</div>