@page
@model IndexModel
@{
    ViewData["Title"] = "Обо мне";
}

<div class="body">
    <div class="insade-body-img">
        <img src="img/avatar_W.jpg" alt="Фотографии пока нет">
    </div>
    <div class="insade-body-text">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci cumque impedit nobis, debitis, quis culpa temporibus distinctio sit saepe et fugit facere corporis voluptate at quidem, ratione recusandae itaque blanditiis id! Ut, aut dignissimos porro quis, ad suscipit. Perferendis culpa cupiditate nam tenetur earum illo fugiat voluptates sint similique?</p>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere dicta quae veniam aut blanditiis beatae veritatis deserunt assumenda ipsum earum, magnam ut accusamus laboriosam, odit molestiae est. Obcaecati qui, ex fugit, ipsa libero quae culpa cum, error asperiores placeat reiciendis? Maiores voluptatibus, architecto officia soluta ex modi vero corporis.</p>
    </div>
</div>