@page "{handler?}"
@model WebsitePsychologist.Pages.ThemesModel
@{
    ViewData["Title"] = "Услуги";
}

@if(ViewBag.Login == Model.admin)
{
    <form method="get" asp-page="ThemeForm">
        <div class="d-grid gap-2 col-6 mx-auto m-5">
            <button class="btn btn-primary btn-lg" name="id" value="0">Добавить новую услугу</button>
        </div>
    </form>
}
@foreach (var item in Model.themes)
{
    <div class="div_theme">
        <div class="text-center m-3">
            <img class="img_theme" src=@item.PathImage alt="картинки пока нет">
        </div>
        <div class="theme-text">
            <h2 class="text-center">@item.ThemeName</h2>
            <p class="txt">@item.Text</p>
            @if (ViewBag.Login == Model.admin)
            {
                <div class="row justify-content-center">
                    <form class="col-auto" method="get" asp-page="ThemeForm">
                        <button class="btn btn-primary" name="id" value="@item.Id">Исправить</button>
                    </form>
                    <form class="col-auto" method="get" asp-page-handler="Delete">
                        <button class="btn btn-danger" name="id" value="@item.Id">Удалить</button>
                    </form>
                </div>
            }
        </div>
    </div>
}

